<div class="fondo">
    <div class="container-fluid">

      <h1 class="text-center text-uppercase titulo text-white py-3">
        Promociones Canjeadas
      </h1>
      
       <div class="row">

      <div class="table-responsive-sm">
        <table class="table bg-dark text-white mt-2">
          <thead>
            <tr class="text-center">
                <th scope="col">Socio</th>
                <th scope="col">Promoción</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Puntos Canjeados</th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let p of listado">
                <td>{{p.apellido + ' ' + p.nombre}}</td>
                <td>{{p.promocion}}</td>
                <td>{{p.producto}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.puntos}}</td>
            </tr>
          </tbody>  
        </table>
      </div>

    </div>
  </div>