<div class="fondo">
    <div class="container">

      <h1 class="text-center text-uppercase titulo text-white py-3">
        Promociones Canjeadas
      </h1>

      <div class="row">
        <div class="col-sm-4">
          <input type="text" 
          class="form-control mb-2" 
          placeholder="Buscar por socio y/o nombre promocion" 
          #txtSearch
          (keyup)="onSearchProduct(txtSearch.value)">
        </div>
      </div>    

      <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
      &nbsp;
    <button class="btn btn-primary" (click)="nextPage()"
    [disabled]="(listado | filtroCanjeadas: page : search).length < 5 || 
                    (listado | filtroCanjeadas: page+5 : search).length === 0"
      >Siguientes</button>
    
     
      <div class="table-responsive-sm">
        <table class="table bg-dark text-white mt-2">
          <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Socio</th>
                <th scope="col">Promoción</th>
                <th scope="col">Acción</th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let p of listado | filtroCanjeadas:page : search">
                <td>{{p.id}}</td>
                <td>{{p.socio}}</td>
                <td>{{p.promocion}}</td>
                <td>
                  <app-detalles-promocion-canjeada [promocion]="p"></app-detalles-promocion-canjeada>
                </td>
            </tr>
          </tbody>  
        </table>
      </div>

    </div>
  </div>