<div class="fondo">
    <div class="container">

      <h1 class="text-center text-uppercase titulo text-white py-3">
        Promociones Canjeadas
      </h1>
      
       <div class="row">

      <div class="table-responsive-sm">
        <table class="table bg-dark text-white mt-2">
          <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Socio</th>
                <th scope="col">Promoción</th>
                <th scope="col">Acción</th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let p of listado">
                <td>{{p.id}}</td>
                <td>{{p.socio}}</td>
                <td>{{p.promocion}}</td>
                <td>
                  <app-detalles-promocion-canjeada [promocion]="p"></app-detalles-promocion-canjeada>
                </td>
            </tr>
          </tbody>  
        </table>
      </div>

    </div>
  </div>