.fondo {
    background-image: url("../../../../../src/assets/img/reportes.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    min-height: 100vh;
  }

  .titulo {
    font-family: "Lora", serif;
    font-weight: 700;
  }