<button class="btn btn-success" data-bs-toggle="modal" attr.data-bs-target="#modalCobro{{pedido.id}}" 
[disabled]="disabled" (click)="obtenerDetalles()">{{labelBoton}}</button>

<!-- Modal -->
<div class="modal fade" [id]="'modalCobro' + pedido.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-4 text text" id="exampleModalLabel" style="color: black;">Abonar el pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="mb-3">Monto total a pagar: ${{montoTotal}}</h4>
                <form [formGroup]="formulario">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="selectTipoPago" class="form-label fs-4 text" style="color:black">Tipo de Pago</label>
                            <select id="selectTipoPago" class="form-select" formControlName="tipoPago"
                                [class.is-invalid]="controlTipoPago.touched && controlTipoPago.hasError('required')">
                                <option *ngFor="let tipopago of tiposPago" [ngValue]="tipopago">{{ tipopago.nombre }}</option>
                            </select>
                            <span class="invalid-feedback">
                                Tipo de pago es requerido
                            </span>
                        </div>
                        <div class="mb-3" *ngIf="cobraConTarjeta">
                            <label for="selectTipoPago" class="form-label">Codigo de Autorización</label>
                            <input type="text" id="txtCodigoAutorizacion" class="form-control" formControlName="codigoAutorizacion"
                                [class.is-invalid]="controlCodAutorizacion.touched && controlCodAutorizacion.hasError('required')">
                            <span class="invalid-feedback">
                                Codigo de autorización es requerido
                            </span>
                        </div>
                        <div class="row mb-3 justify-content-center" *ngIf="mostrarCodQr" >
                            <img class="img" style="max-width: 300px;"  src="../../../../assets/img/codigoQr.png" alt="Códico QR">
                        </div>
                    </div>  
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardarCobro()">{{labelBoton}}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>