<div class="fondo">
  <div class="container-fluid">
    <h1 class="display-4 text-white fw-semibold text-center py-3">
      Listado de Pedidos
    </h1>

    <div class="table-responsive-md">
      <table class="bg-dark" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Punto de Venta">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Punto de Venta</th>
          <td class="text-white" mat-cell *matCellDef="let row">{{ row.puntoVenta }}</td>
        </ng-container>

        <ng-container matColumnDef="Socio">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Socio</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.socio ? row.socio : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Empleado">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Empleado</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.empleado ? row.empleado : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Estado</th>
          <td class="text-white" mat-cell *matCellDef="let row">{{ row.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="Observaciones">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.observaciones ? row.observaciones : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Fecha</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.fechaPedido | date : "mediumDate" : "UTC" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Detalles">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Detalles</th>
          <td mat-cell *matCellDef="let row">
            <app-detalles-pedido [pedido]="row"></app-detalles-pedido>
          </td>
        </ng-container>

        <ng-container matColumnDef="Accion">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Accion</th>
          <td mat-cell *matCellDef="let row">
            <app-estado-pedido
              (onActualizado)="cargarTabla()"
              [pedido]="row"
            ></app-estado-pedido>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator class="bg-dark text-white" [pageSize]="8"></mat-paginator>
    </div>
  </div>
</div>
