.fondo {
    background-image: url("../../../../../assets/img/listadoPedidos.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
/* 
  table {
    width: 100%;
  } 
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }  */