<!-- <div class="fondo">
  <div class="container-fluid">
    <h1 class="text-center text-uppercase titulo text-white py-3">
      Listado de Pedidos
    </h1>

    <div class="table-responsive-md">
      <table class="bg-dark" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Punto de Venta">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Punto de Venta</th>
          <td class="text-white" mat-cell *matCellDef="let row">{{ row.puntoVenta }}</td>
        </ng-container>

        <ng-container matColumnDef="Socio">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Socio</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.socio ? row.socio : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Empleado">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Empleado</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.empleado ? row.empleado : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Estado</th>
          <td class="text-white" mat-cell *matCellDef="let row">{{ row.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="Observaciones">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.observaciones ? row.observaciones : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Fecha</th>
          <td class="text-white" mat-cell *matCellDef="let row">
            {{ row.fechaPedido | date : "mediumDate" : "UTC" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Detalles">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Detalles</th>
          <td mat-cell *matCellDef="let row">
            <app-detalles-pedido [pedido]="row"></app-detalles-pedido>
          </td>
        </ng-container>

        <ng-container matColumnDef="Accion">
          <th class="text-white" mat-header-cell *matHeaderCellDef>Accion</th>
          <td mat-cell *matCellDef="let row">
            <app-estado-pedido
              (onActualizado)="cargarTabla()"
              [pedido]="row"
            ></app-estado-pedido>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator class="bg-dark text-white fw-semibold text-uppercase" [pageSize]="8"></mat-paginator>
    </div>
  </div>
</div> -->


 <div class="fondo">
  <div class="container-fluid">

    <h1 class="text-center text-uppercase titulo text-white py-3">
      Listado de Pedidos
    </h1>
    
    <div class="row">
      <div class="col-sm-4">
        <input type="text" 
        class="form-control mb-2" 
        placeholder="Buscar por socio-punto de venta-fecha y/o estado" 
        #txtSearch
        (keyup)="onSearchProduct(txtSearch.value)">
      </div>
    </div>    

    <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
      &nbsp;
    <button class="btn btn-primary" (click)="nextPage()"
      [disabled]="(listado |filtro:page :search).length===0"
      >Siguientes</button>

    <div class="table-responsive">
      <table class="table bg-dark text-white mt-2">
        <thead>
          <tr>
            <th scope="col">Punto de Venta</th>
            <th scope="col">Socio</th>
            <th scope="col">Empleado</th>
            <th scope="col">Estado</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Fecha</th>
            <th scope="col">Detalles</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listado | filtroPedido:page : search">
            <td>{{p.puntoVenta}}</td>
            <td>{{p.socio ? p.socio : '-'}}</td>
            <td>{{p.empleado ? p.empleado : '-'}}</td>
            <td>{{p.estado}}</td>
            <td>{{p.observaciones ? p.observaciones : '-'}}</td>
            <td>{{p.fechaPedido | date:'mediumDate':'UTC'}}</td>
            <td>
                <app-detalles-pedido [pedido]="p"></app-detalles-pedido>
            </td>
            <td>
              <app-estado-pedido (onActualizado)="cargarTabla()" [pedido]="p"></app-estado-pedido>
            </td>
          </tr>
        </tbody>  
      </table>
    </div>

  </div>
</div>