.fondo {
    background-image: url("../../../../assets/img/altaProducto.jpg");
    background-size: cover;
    /* height: 100%; */
    width: 100%;
    background-position: center;
    min-height: 100vh;
  }

  .titulo {
    color: white;
    font-family: "Lora", serif;
    font-weight: 700;
  }