<div class="fondo">
    <div class="container-fluid px-3">
        <div class="row">
            <div [ngClass]="mostrarPedido ? 'col-lg-9 col-md-6 col-sm-12 py-5' : 'col-lg-12 col-md-12 col-sm-12 py-5'">
                <h1 class="text-center text-uppercase titulo">Productos</h1> <br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="input-group mb-2 ms-3">
                                <input type="text" class="form-control" placeholder="Buscar producto" (keyup)="onSearchProduct($event)">
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                            </div>
                        </div>
                        <form [formGroup]="formulario" class="col-lg-8 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-group mb-2 ms-3">
                                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                                        <input type="number" class="form-control" placeholder="minimo"
                                            formControlName="precioMin"
                                            [class.is-invalid]="controlPrecioMin.touched && controlPrecioMin.hasError('required')"
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-group mb-2 ms-3">
                                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                                        <input type="number" class="form-control" placeholder="maximo"
                                            formControlName="precioMax"
                                            [class.is-invalid]="controlPrecioMax.touched && controlPrecioMax.hasError('required')"
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="input-group mb-2">
                                        <button class="btn btn-primary ms-3 w-100" style="color: black;" (click)="filtrar()">Filtrar por precio</button>
                                    </div>
                                    <div class="input-group mb-2">
                                        <button class="btn btn-outline-danger ms-3 w-100" *ngIf="flagFiltro" (click)="limpiarFiltro()">Eliminar filtro</button>
                                    </div>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
                
                
                     
            <div class="container overflow-auto d-flex justify-content-evenly flex-wrap" style="max-height: 500px;">  
                <app-elemento-producto *ngFor="let p of productos | filtroAltaPedido: search : precioMin : precioMax" [modalId]="p.id" [producto]="p"
                    (onAgregar)="agregarDetalle($event)" [disabled]="estaAgregado(p)"></app-elemento-producto>
            </div>
        </div>   
    
            <!-- Lado lateral derecho alta pedido -->
            <div class="col-lg-3 col-md-6 col-sm-12 py-5" *ngIf="mostrarPedido==true">
                <div class="container-fluid">                
                    <div class="row">
                        <h1 class="text-center text-uppercase titulo">Pedido</h1>
                    </div>  
                    <div class="row">
                        <ol class="list-group">
                            <li *ngFor="let d of pedido.detalles"
                                class="list-group-item d-flex justify-content-between align-items-start">
                                <span class="badge align-self-center bg-brown rounded-pill">{{d.cantidad}}x</span>
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{d.producto.nombre}}</div>
                                    ${{d.producto.precio * d.cantidad}}
                                </div>
                                <button class="btn btn-close align-self-center ms-2" (click)="quitarDetalle(d)"></button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start"
                                [ngClass]="(cantidadTotal > 50) ? 'list-group-item-danger' : 'list-group-item-brown' ">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">TOTAL: ${{montoTotal}}</div>
                                </div>
                                <p class="m-0">Items: {{cantidadTotal}} / 50</p>
                            </li>
                            <div class="text-danger" *ngIf="(cantidadTotal > 50)">
                                <p>
                                    Se excedió el limite de 50 productos
                                </p>
                            </div>
                        </ol>
                        <div class="row">
                            <div class="container-fluid p-0">
                                <div class="mb-3 mt-5">
                                    <label for="observaciones" class="form-label text-uppercase fw-semibold">Observaciones</label>
                                    <textarea class="form-control" id="observaciones" rows="2"
                                        [formControl]="controlObservaciones"></textarea>
                                </div> <br>
                                <button class="btn btn-primary btn-block btn-large text-uppercase fw-semibold text-reset" [disabled]="cantidadTotal > 50"
                                    (click)="guardarPedido()">Enviar Pedido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
