<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Olbap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pedidos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="pedido/nuevo">Registrar pedido</a></li>
              <li><a class="dropdown-item" routerLink="pedido/listado">Listado pedidos</a></li>
              <li><a class="dropdown-item" routerLink="pedido/pendiente">Listado pedidos pendientes</a></li>
              <li><a class="dropdown-item" routerLink="pedido/propios">Listado pedidos propios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Socios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="socio/nuevo">Registrar socio</a></li>
              <li><a class="dropdown-item" routerLink="socio/listado">Listado socios</a></li>
            </ul>
          </li>
        </ul>

        <button type="button" class="bi bi-person-fill-add btn btn-outline-success"> Registrarme</button>
        <button *ngIf="!sesionIniciada" type="button" class="bi bi-box-arrow-in-right btn btn-outline-primary ms-3" routerLink="login"> Iniciar Sesión</button>
        <button *ngIf="sesionIniciada" (click)="cerrarSesion()" type="button" class="bi bi-box-arrow-left btn btn-outline-danger ms-3"> Cerrar Sesión</button>
      </div>
    </div>
  </nav>