<button class="btn btn-secondary rounded mt-3" style="min-height: 200px; max-width: 350px;" 
[disabled]="producto.stock <1 || producto.disponible==false || disabled" data-bs-toggle="modal" attr.data-bs-target="#modal{{modalId}}">
  <div style="max-width: 320px;">
    <div class="row p-1">
      <div class="col-8 text-start">
        <p class="m-0 fs-5 text fw-semibold">{{producto.nombre}}</p>
        <p class="text-muted m-0 fs-6 text" style="min-height: 36px;">{{producto.descripcion}}</p>
        <p *ngIf="producto.disponible" class=" m-0"><strong>$ {{producto.precio}}</strong></p>
        <p *ngIf="producto.stock<1 ? producto.disponible : !producto.disponible" class=" m-0 text-danger"><strong>NO DISPONIBLE</strong></p>
    </div>
    <div class="col-4 d-flex align-items-center">
      <img src="http://localhost:3000/{{ producto.urlImagen ? producto.urlImagen : 'uploads/'+rutaImgDefault }}" 
      class="img-fluid rounded ms-2"  alt="{{ producto.nombre }}"
      style="width: 200px; height: 120px;"
      >
    </div>
    </div>
  </div>
</button>



  <!-- Ventana Modal -->
  <div class="modal fade" [id]="'modal'+modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 1130px;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">{{producto.nombre}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-5 zoom-img" >
                    <img src="http://localhost:3000/{{ producto.urlImagen ? producto.urlImagen : rutaImgDefault }}" class="img-fluid rounded ms-2"  alt="{{ producto.nombre }}">
                </div>
                <div class="col-7 px-5">
                    <p class="fs-4">{{producto.descripcion}}</p>
                    <div class="mb-3">
                      <label [for]="'comentarios'+modalId" class="form-label">Comentarios</label>
                      <textarea class="form-control" [id]="'comentarios'+modalId" rows="3" [formControl]="gestorComentarios"></textarea>
                    </div>
                </div>
            </div>
              
        </div>
        <div class="modal-footer">
            <span class="text-muted fw-semibold">
              Stock disponible {{producto.stock}}
            </span>
            <span class="text-muted">
              Cantidad: 
            </span>
            <div class="input-group border-secondary me-5" style="max-width: 150px;">
                <button class="btn btn-danger" (click)="modificoCantidad(false)"><strong>-</strong></button>
                <span class="input-group-text">{{cantidad}}</span>
                <button class="btn btn-success" (click)="modificoCantidad(true)"><strong>+</strong></button>
            </div>
            <button type="button" class="bi bi-basket btn btn-primary" (click)="agregar()" data-bs-dismiss="modal"> Agregar al Carrito</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="limpiarModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  