 <div class="fondo">
    <div class="container py-5">
        <div id="titulo-homepage" class="text-white">
          <div class="container my-5">
            <h1>Bienvenido a Olbap Chocolates</h1> <br> <br>
            <div class="tituloBox text-uppercase"> <br>
                <h3>Donde Cada <span class="texto-personalizado">chocolate</span></h3>
                <p>que probas, es una experiencia única</p>
                <button type="button" class="btn btn-secondary bi bi-cart4" routerLink="/pedido/nuevo"> Hace tu pedido</button>
            </div>
          </div>
        </div>
    </div>
  </div>
