<div class="fondo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <div class="contenido py-5">
                        <div class="tituloBox"> <br> <br> <br>
                            <h1>Cada <br></h1>
                            <h2><span>chocolate</span></h2>
                            <p>que probas es una experiencia única.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 py-5">
                  <div class="card mb-3 bg-dark text-white">
                    <img src="../../../assets/imgProductos/chocolateNegro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Benificios del chocolate</h5>
                      <p class="card-text">
                        Reduce los niveles de hormonas del estrés y genera endorfinas, de modo
                        que nos hace sentir mas relajados y contentos.
                        Contiene flavonoides, los cuales protegen nuestras neruonas. Esto nos ayuda
                        a mejorar tanto nuestro rendimiento cognitivo la memoria.</p>
                    </div>
                  </div>                  
            </div>
        </div>
    </div>
</div>


