<div class="fondo">
  <div class="fondo">
    <div class="container py-5">
        <div id="titulo-homepage" class="text-white">
            <h1>Bienvenido a Olbap Chocolates</h1> <br> <br>
              <div class="tituloBox text-uppercase">
                <h3>Donde Cada <span class="texto-personalizado">chocolate</span></h3>
                <p>que probas,es una experiencia única</p>
                <button type="button" class="btn btn-dark bi bi-cart4" routerLink="/pedido/nuevo"> Hace tu pedido</button>
            </div>
        </div>
    </div>
  </div>
</div>
