<!-- <div class="fondo">
    <div class="container-fluid">
      <h1 class="text-center text-uppercase titulo text-white py-3 titulo">
        Listado de Socios
      </h1>
  
      <div class="table-responsive-md">
        <table class="bg-dark" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Nombre">
            <th class="text-white" mat-header-cell *matHeaderCellDef>Nombre</th>
            <td class="text-white" mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="Apellido">
            <th class="text-white" mat-header-cell *matHeaderCellDef>Apellido</th>
            <td class="text-white" mat-cell *matCellDef="let row">
              {{ row.apellido }}
            </td>
          </ng-container>
  
  
          <ng-container matColumnDef="Dni">
            <th class="text-white" mat-header-cell *matHeaderCellDef>DNI</th>
            <td class="text-white" mat-cell *matCellDef="let row">{{ row.dni }}</td>
          </ng-container>

          <ng-container matColumnDef="Activo">
            <th class="text-white" mat-header-cell *matHeaderCellDef>Activo</th>
            <td class="text-white" mat-cell *matCellDef="let row">{{ row.fechaBaja ? 'No' : 'Si' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="Detalles">
            <th class="text-white" mat-header-cell *matHeaderCellDef>Detalles</th>
            <td class="text-white" mat-cell *matCellDef="let row">
              <app-detalles-socio [socio]="row"></app-detalles-socio>
            </td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th class="text-white" mat-header-cell *matHeaderCellDef>Acciones</th>
            <td class="text-white" mat-cell *matCellDef="let row">
              <app-baja-socio [socio]="row" (onEliminado)="cargarTabla()" [deshabilitado]="row.fechaBaja!==null"></app-baja-socio>
              <button class="btn btn-success bi bi-pencil ms-3" [routerLink]="['/socio/nuevo',row.id]"> Editar</button>
            </td>
          </ng-container>
  

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator class="bg-dark text-white fw-semibold text-uppercase" [pageSize]="7"></mat-paginator>
      </div>
    </div>
  </div>
   -->

   <div class="fondo">
    <div class="container-fluid">

      <h1 class="text-center text-uppercase titulo text-white py-3">
        Listado de Socios
      </h1>
      
      <div class="row">
        <div class="col-sm-3">
          <input type="text" 
          class="form-control mb-2" 
          placeholder="Buscar socio por dni o apellido" 
          #txtSearch
          (keyup)="onSearchProduct(txtSearch.value)">
        </div>
      </div>    

      <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
        &nbsp;
      <button class="btn btn-primary" (click)="nextPage()"
        [disabled]="(listado |filtroSocio: page :search).length===0"
        >Siguientes</button>


      <div class="table-responsive-sm">
        <table class="table bg-dark text-white mt-2">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">DNI</th>
              <th scope="col">Activo</th>
              <th scope="col">Detalles</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of listado | filtroSocio: page : search">
              <td>{{s.nombre}}</td>
              <td>{{s.apellido}}</td>
              <td>{{s.dni}}</td>
              <td>{{s.fechaBaja ? 'Si' : 'No'}}</td>
              <td>
                <app-detalles-socio [socio]="s"></app-detalles-socio>
              </td>
              <td>
              <app-baja-socio [socio]="s" (onEliminado)="cargarTabla()" [deshabilitado]="s.fechaBaja!==null"></app-baja-socio>
              <button class="btn btn-success bi bi-pencil ms-3" [routerLink]="['/socio/nuevo',s.id]"> Editar</button>
              </td>
            </tr>
          </tbody>  
        </table>
      </div>

    </div>
  </div>