.fondo {
    background-image: url("../../../../assets/img/listadoSocios.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .titulo{
    font-family: "Lora", serif;
    font-weight: 700;
  }

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #4ea15c;
}