.fondo {
    background-image: url("../../../assets/img/contacto.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    min-height: 95vh;
  }
  .titulo {
    font-family: "Lora", serif;
    font-weight: 700;
  }
