<div class="fondo">
    <div class="container">
        <h1 class="titulo text-uppercase text-center py-5 text-white">Contacta con nosotros</h1>
    </div>

    <div class="container">
        <div class="accordion accordion-dark" id="accordionExample">
            <div class="accordion-item">
                <h5 class="text-center fw-semibold bi bi-chat-dots-fill" style="background-color: greenyellow;"> Preguntas frecuentes</h5>
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseSix">
                    ¿Cómo me registro?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                        <li><strong>Debes de completar el siguiente formulario de registro.</strong></li>
                       <a routerLink="/socio/nuevo" target="_blank"><button type="button" class="btn btn-outline-primary bi bi-arrow-right"> Ser socio</button></a>
                        <li><strong>Luego utilizar las mismas credenciales para la creación de la cuenta.</strong></li>
                        <a routerLink="/registro" target="_blank"><button type="button" class="btn btn-outline-primary bi bi-arrow-right"> Crear cuenta</button></a> 
                    </ul>
                  </div>
                </div>
              </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    ¿Cuáles son los beneficios de ser socio?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                        <li><strong>Registrate como socio y acumula puntos en cada compra que realices</strong>.Con los cuales podras canjear aquellas promociones que 
                            se encuentren disponibles.
                        </li>
                        <li><strong>Acceso al listado de tus pedidos</strong>. Pudiendo pagarlos via web,cancelarlos o ver el detalle de los pedidos realizados. </li>
                        <li><strong>Acceso al listado de promociones disponibles</strong>,pudiendo canjear aquellas que desee.</li>
                    </ul>
                  </div>
                </div>
              </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿A qué dirección de mail me puedo contactar para hacer una sugerencia o reclamo?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><strong class="bi bi-envelope-fill"> Correo sugerencia/s: </strong>olbapchocolates@hotmail.com </li>
                        <li><strong class="bi bi-envelope-fill"> Correo soporte/reclamo: </strong>soporteolbap@hotmail.com</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Cómo puedo darme de baja como socio?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>Contactanos <strong>vía correcto electrónico</strong> para informar que queres darte de baja como socio
                            o <strong>en nuestro local de manera presencial.</strong>
                        </li>
                        <li><strong class="bi bi-envelope-fill"> Correo soporte/reclamo: </strong>soporteolbap@hotmail.com</li>
                    </ul>                    
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                    ¿Qué medios de pago aceptan?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                        <li><strong>Efectivo</strong>(unicamente en el local).</li>
                        <li><strong>Mercado Pago.</strong></li>
                        <li><strong>Tarjeta de crédito.</strong></li>
                        <li><strong>Tarjeta de débito.</strong></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                    ¿Olvidaste tu contraseña?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li><strong>Debes de dirigirte al siguiente formulario para cambiar tu contraseña.</strong></li>
                      <a routerLink="/recuperarclave" target="_blank"><button type="button" class="btn btn-outline-primary bi bi-arrow-right"> Recuperar Clave</button></a>
                      <li>En el formulario deberas ingresar tu nombre de usuario,DNI y la nueva contraseña.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    ¿Cuáles son los medios de contacto?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                        <li><strong class="bi bi-envelope-fill"> Via Correo electrónico: </strong>olbapchocolates@hotmail.com. </li>
                        <li><strong class="bi bi-telephone-fill"> Teléfono </strong>+54 9 3525-507321. </li>
                        <li><strong class="bi bi-geo-alt-fill"> Dirección </strong>Calle Tucumán 526, Jesus María, Córdoba.</li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>
    </div>    
</div>
