<div class="fondo">
    <div class="container py-5">
        <h1 class="mb-5 text-center text-uppercase titulo text-white">{{!isEdit ? 'Registro de Socio' : 'Editar Socio'}}</h1>
        <form [formGroup]="formulario">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label fw-semibold text-white">Nombre</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-person-fill"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="inputNombre" 
                                placeholder="Ingrese el nombre"
                                formControlName="nombre"
                                [class.is-invalid]="controlNombre.touched && controlNombre.hasError('required')"
                                #inputNombre>
                                <span *ngIf="controlNombre.touched && controlNombre.hasError('required')"
                                class="invalid-feedback">
                                  Nombre es requerido,complete el campo por favor.
                                </span>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputApellido" class="form-label fw-semibold text-white">Apellido</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-person-fill"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="inputApellido" 
                                placeholder="Ingrese el apellido" formControlName="apellido"
                                [class.is-invalid]="controlApellido.touched && controlApellido.hasError('required')">
                                <span *ngIf="controlApellido.touched && controlApellido.hasError('required')"
                                class="invalid-feedback">
                                  Apellido es requerido,complete el campo por favor.
                                </span>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
    
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label fw-semibold text-white">Email</label>
                            <div class="input-group">
                                <div class="input-group-text fw-semibold">@</div>
                                <input type="text" class="form-control" id="inputEmail" 
                                placeholder="Ingrese el email" formControlName="email"
                                [class.is-invalid]="controlEmail.touched && controlEmail.hasError('required')">
                                <span class="invalid-feedback" *ngIf="controlEmail.touched && controlEmail.hasError('required')">
                                    Email es requerido,complete el campo por favor.
                                </span>
                              </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputDni" class="form-label fw-semibold text-white">DNI</label>
                            <div class="input-group">
                                <div class="input-group-text fw-semibold">DNI</div>
                                <input type="number" class="form-control" id="inputDni" 
                                placeholder="Ingrese el DNI" formControlName="dni"
                                [class.is-invalid]="controlDni.touched && controlDni.hasError('required')">
                                <span *ngIf="controlDni.touched && controlDni.hasError('required')"
                                class="invalid-feedback">
                                  Dni es requerido,complete el campo por favor.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputDomicilio" class="form-label fw-semibold text-white">Domicilio</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-house-add-fill"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="inputDomicilio" 
                                placeholder="Ingrese el domicilio" formControlName="domicilio">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputTelefono" class="form-label fw-semibold text-white">Telefono</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-telephone-fill"></i>
                                    </div>
                                </div>
                                <input type="number" class="form-control" id="inputTelefono" 
                                placeholder="Ingrese el telefono" formControlName="telefono">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="submit" class="btn btn-success ms-3" *ngIf="!isEdit" (click)="registrar()">Registrar</button>
                <button type="submit" class="btn btn-success ms-3" *ngIf="isEdit" (click)="editar()">Editar</button>
                <button type="button" class="btn btn-danger ms-3" routerLink="/home">Cancelar</button>
            </div>
    
        </form>
    </div>
</div>
