.fondo {
    background-image: url("../../../../assets/img/altaSocio.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .titulo {
    color: #000000;
    font-family: "Lora", serif;
    font-weight: 700;
  }