.fondo {
    background-image: url("../../../../../../ps/src/assets/img/listadoProductos.jpg");
    background-size: cover;
    /* height: 100%; */
    width: 100%;
    background-position: center;
    min-height: 100vh;
  }

  .titulo {
    font-family: "Lora", serif;
    font-weight: 700;
  }

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #4ea15c;
}