  <div class="fondo">
    <div class="container-fluid">

      <h1 class="text-center text-uppercase titulo text-white py-3">
        Listado de Productos
      </h1>
      
      <div class="row">
        <div class="col-sm-3">
          <input type="text" 
          class="form-control mb-2" 
          placeholder="Buscar producto" 
          #txtSearch
          (keyup)="onSearchProduct(txtSearch.value)">
        </div>
      </div>    

      <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
        &nbsp;
      <button class="btn btn-primary" (click)="nextPage()"
        [disabled]="(listado |filtro:page :search).length===0"
        >Siguientes</button>


      <div class="table-responsive">
        <table class="table bg-dark text-white mt-2">
          <thead>
            <tr class="text-center">
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Puntos Ganados</th>
              <th scope="col">Stock</th>
              <th scope="col">Activo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let p of listado |filtro:page :search">
              <td>{{p.nombre}}</td>
              <td>{{p.descripcion}}</td>
              <td>{{p.precio}}</td>
              <td>{{p.puntosGanados}}</td>
              <td>{{p.stock ? p.stock : '0'}}</td>
              <td>{{p.activo ? 'SI' : 'NO'}}</td>
              <td>
                <button class="btn btn-success bi bi-pencil" [routerLink]="['/producto/nuevo',p.id]"></button>
                <app-baja-producto ngClass="ms-2" [producto]="p" (onEliminado)="cargarTabla()"></app-baja-producto>
              </td>
            </tr>
          </tbody>  
        </table>
      </div>

    </div>
  </div>